.drive-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.drive-header {
    margin: 0px;
    font-size: 1.4vw;
    position: absolute;
    top: 0px;
}

.dice-wrapper {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
    position: relative;
}

.option-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12%;
}

.green-die {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(3, 145, 26);
    display: inline-block;
    color: white;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    margin-bottom: 20px;
}

.blue-die {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(34, 111, 255);
    display: inline-block;
    color: white;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    margin-bottom: 20px;
}

.white-die {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    color: white;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    margin-bottom: 20px;
}

.red-die {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(224, 5, 5);
    display: inline-block;
    color: white;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    margin-bottom: 20px;
}

.yellow-die {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(231, 219, 0);
    display: inline-block;
    color: black;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    margin-bottom: 20px;
}

.yellow-die-icons {
    color: black;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

/* .re-roll {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 5vw;
    color: black;

    text-align: center;
} */

.roll-button {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 2vw;
    border-radius: 20px;
    border: none;
    background-color: hwb(120 78% 4%);
    box-shadow: 0px 4px 10px gray;
    cursor: pointer;
}

.roll-flag {
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 1.4vw;
    border-radius: 20px;
    border: none;
    background-color: hwb(120 78% 4%);
    box-shadow: 0px 4px 10px gray;
    cursor: pointer;
}

.roll-flag:hover {
    box-shadow: 0px 6px 10px gray;
}

.roll-button:hover {
    box-shadow: 0px 6px 10px gray;
}

.white-die-ball {
    background-image: url("../../../public/football.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
    aspect-ratio: 1/1;
}

.white-die-flag {
    color: rgb(231, 231, 3);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.white-die-sack {
    color: rgb(231, 13, 13);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.punt-fg-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.drive-button {
    box-sizing: border-box;
    border: none;
    background-color: white;
    font-size: 1.1vw;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px gray;
    cursor: pointer;
}

.drive-button:hover {
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 4px 3px gray;
}

.flag-wrapper {
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0px;
    z-index: 10;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag-wrapper>h3 {
    margin: 0px;
    font-size: 1.5vw;
    font-weight: normal;
}

#flag-dice-wrapper {
    justify-content: center;
    align-items: center;
    gap: 10%;
}
