.kick-off-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.kick-off-wrapper>h2 {
    font-size: 2.1vw;
    margin: 0px;
}

.kick-die {
    width: 15%;
    aspect-ratio: 1/1;
    background-color: black;
    display: inline-block;
    color: white;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 2.5vw;
    margin-bottom: 20px;
}

#circle {
    border: 2px white solid;
    border-radius: 50%;
}

.kick-die-text {
    box-sizing: border-box;
    width: 55%;
    aspect-ratio: 1/1;
    margin-top: auto;
    margin-bottom: auto;
}

.message {
    font-size: 1.5vw;
}
